.password-checker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
}

input {
  width: 25em;
  padding: 0.6em;
  margin-bottom: 0.6em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.short {
  border-color: red;
}

input.easy {
  border-color: red;
}

input.medium {
  border-color: yellow;
}

input.strong {
  border-color: green;
}

.strength-meter {
  display: flex;
  justify-content: space-between;
  width: 20em;
}

.section {
  height: 0.6em;
  width: 30%;
  background-color: gray;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.section.gray {
  background-color: gray;
}

.section.red {
  background-color: red;
}

.section.yellow {
  background-color: yellow;
}

.section.green {
  background-color: green;
}
